export(dBUMfit)
export(dBUMscore)
export(dCommSignif)
export(dContrast)
export(dFDRscore)
export(dGSEA)
export(dGSEAview)
export(dGSEAwrite)
export(dNetConfidence)
export(dNetFind)
export(dNetInduce)
export(dNetPipeline)
export(dNetReorder)
export(dPvalAggregate)
export(dRWR)
export(dSVDsignif)
export(visColoralpha)
export(visColormap)
export(visGSEA)
export(visHeatmap)
export(visHeatmapAdv)
export(visNet)
export(visNetArc)
export(visNetCircle)
export(visNetMul)
export(visNetReorder)
export(visTreeBootstrap)
import(igraph)
import(supraHex)
importFrom(ape,boot.phylo)
importFrom(ape,consensus)
importFrom(ape,fastme.bal)
importFrom(ape,fastme.ols)
importFrom(ape,is.rooted)
importFrom(ape,mrca)
importFrom(ape,nj)
importFrom(ape,nodelabels)
importFrom(ape,plot.phylo)
importFrom(ape,read.tree)
importFrom(ape,root)
importFrom(ape,unroot)
importFrom(ape,write.tree)
